{% extends 'partials/base.html' %}
{% block title %}Agregar Mascotas{% endblock %}
{% load crispy_forms_tags %}
{% block content %}


   <!--Table-->
<hr>
<hr>
<hr>
<hr>
<!--Table-->

<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Solicitud de Adopcion</h4>
                <hr>
                <form method= "POST">
                  {% csrf_token %}
                  {{ form|crispy }}
                    <input class="btn btn-success btn-block" type="submit" value="Mandar Solicitud">

                </form>
            </div>
        </div>
        {% if user.is_authenticated and user.is_staff %}
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Domicilio</th>
                        <th scope="col">Numero de mascotas</th>
                        <th scope="col">Razones</th>
                        <th scope="col">Administrar</th>
                        


                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.Nombre }}</td>
                        <td>{{ item.Apellidos }}</td>
                        <td>{{ item.Edad }}</td>
                        <td>{{ item.Correo }}</td>
                        <td>{{ item.Telefono }}</td>
                        <td>{{ item.Domicilio}}</td>
                        <td>{{ item.Numero_de_mascotas }}</td>
                        <td>{{ item.Razones}}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'dashboard-adopciones-update' item.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm" 
                            href="{% url 'dashboard-adopciones-delete' item.id %}">Delete</a>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

</div>



<!--End Table-->
{% endblock %}