{% extends 'partials/base.html' %}
{% block title %}Adopciones{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

   <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Mascotas en adopcion</h2>
                {% for item2 in items2 %}
                <div class="col-md-6 offset-md-3">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                            <img class="img-fluid" src="{{item2.imagen.url}}" alt="..." />
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">{{ item2.Nombre }}</div>
                            <div class="portfolio-caption-subheading text-muted"> {{ item2.Raza}}, {{ item2.Sexo}}</div>
                            {% if user.is_authenticated and user.is_staff %}
                            <td>
                                <a class="btn btn-info btn-sm" href="{% url 'dashboard-madopcion-update' item2.id %}">Edit</a>
                                <a class="btn btn-danger btn-sm" 
                                href="{% url 'dashboard-madopcion-delete' item2.id %}">Delete</a>
                            </td>
                            {% endif %}

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h4>Solicitud de Adopcion</h4>
                <hr>
                <form method= "POST">
                  {% csrf_token %}
                  {{ form|crispy }}
                    <input class="btn btn-success btn-block" type="submit" value="Mandar Solicitud">

                </form>
            </div>
        </div>     
                
        {% if user.is_authenticated and user.is_staff %}
        <div class="col-md-6 offset-md-3">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Domicilio</th>
                        <th scope="col">Numero de mascotas</th>
                        <th scope="col">Razones</th>
                        <th scope="col">Administrar</th>
                        


                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.Nombre }}</td>
                        <td>{{ item.Apellidos }}</td>
                        <td>{{ item.Edad }}</td>
                        <td>{{ item.Correo }}</td>
                        <td>{{ item.Telefono }}</td>
                        <td>{{ item.Domicilio}}</td>
                        <td>{{ item.Numero_de_mascotas }}</td>
                        <td>{{ item.Razones}}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'dashboard-adopciones-update' item.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm" 
                            href="{% url 'dashboard-adopciones-delete' item.id %}">Delete</a>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        
    </div>
    {% if user.is_authenticated and user.is_staff %}
    <td>
         <a class="btn btn-info btn-lg px-4 gap-3" href="{% url 'adopciones_all'%}" >Generar PDF</a>
         <a class="btn btn-info btn-lg px-4 gap-3" href="{% url 'dashboard-agregar_adopcion'%}" >Agregar Mascota Para Adoptar</a>

    </td>
    {% endif %}

</div>



<!--End Table-->
{% endblock %}