{% extends 'partials/base.html' %}
{% block title %}Mascotas En Adopcion{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<hr>  
<hr>  
<hr>  
<hr> 
<hr>
<div class="container">
    <div class="row mt-">
        <div class="col-md-6 offset_md-3">
            <div class="border bg-white p-3">
                <h3>Editar Mascota en Adopcion</h3>
                <hr>    
               
                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <a class = "btn btn-secondary" href="{% url 'dashboard-adopciones' %}">Cancelar</a>
                    <input class="btn btn-danger" type="submit" value= "ACTUALIZAR">
                </form>
            </div>

        </div>

    </div>

</div>
{% endblock %}